body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  width: 320px;
}

.card {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);
  padding: 16px;
  border-radius: 12px;
  color: white;
}

h3 {
  margin-top: 0;
}

input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border: none;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: none;
  border-radius: 8px;
  background: #ffffff;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #eaeaea;
}


#focus-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

#focus-box {
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  font-family: sans-serif;
}

#focus-box h2 {
  margin-top: 0;
}

#focus-box button {
  padding: 10px 16px;
  border: none;
  background: #2575fc;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
